//variables

//set a custom color

$green: #2eca6a !default;
$white: #ffffff;
$gray: #656565 !default;
$black: #000000;

//primary color
$primary: $green;


//fonts

$font-family-style: Arial, Helvetica, sans-serif;

$font-family-base: $font-family-style !default;

$headings-font-family: $font-family-style !default;

$font-weight-bold:600;

